/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h1,
.alpha-text, h2,
.beta-text, h3,
.gamma-text,
h4,
.delta-text,
h5,
.epsilon-text,
h6,
.zeta-text {
  color: #333333;
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h1,
.alpha-text {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h1,
  .alpha-text {
    font-size: 3.6rem;
    line-height: 4.3rem;
    margin-bottom: 1.5rem;
  }
}

/* line 32, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h3,
.gamma-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 32, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h3,
  .gamma-text {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

/* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h2,
.beta-text {
  margin-top: -0.2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h2,
  .beta-text {
    margin-top: -0.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
strong {
  font-family: "mns-london-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000000;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* line 16, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends.scss */
.icon,
[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: "mns-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--edit::before, .icon--arrow-toggle::before {
  content: '\e608';
}

/* line 9, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--delivery-store::before {
  content: '\e60b';
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--delivery-sdd::before, .icon--delivery-ndd::before, .icon--delivery-international::before, .icon--delivery-expressinternational::before {
  content: '\e60c';
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--gift::before {
  content: '\e616';
}

/* line 25, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--toilet::before {
  content: '\e628';
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--no-toilet::before {
  content: '\e629';
}

/* line 33, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--no-car-collect::before {
  content: '\e62a';
}

/* line 37, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--no-park::before {
  content: '\e62b';
}

/* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--no-baby-chng::before {
  content: '\e62c';
}

/* line 45, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--car-collect::before {
  content: '\e62d';
}

/* line 49, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--park::before {
  content: '\e62e';
}

/* line 53, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--baby-chng::before {
  content: '\e62f';
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--arrow-left::before {
  content: '\e630';
}

/* line 61, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--arrow-down::before {
  content: '\e625';
}

/* line 65, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--arrow-right::before {
  content: '\e626';
}

/* line 69, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--locator-pin::before {
  content: '\e627';
}

/* line 73, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--email::before {
  content: '\e61b';
}

/* line 77, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--facebook::before {
  content: '\e61c';
}

/* line 81, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--googleplus::before {
  content: '\e61d';
}

/* line 85, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--instagram::before {
  content: '\e61e';
}

/* line 89, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--pintrest::before {
  content: '\e61f';
}

/* line 93, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--mobile::before {
  content: '\e620';
}

/* line 97, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--twitter::before {
  content: '\e621';
}

/* line 101, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--youtube::before {
  content: '\e622';
}

/* line 105, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--checkout::before {
  content: '\e614';
}

/* line 109, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--fave::before {
  content: '\e615';
}

/* line 113, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--my-account::before {
  content: '\e610';
}

/* line 117, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--arrow-light::before {
  content: '\e60f';
}

/* line 121, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--disposal::before {
  content: '\e60e';
}

/* line 125, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--tick::before {
  content: '\e609';
}

/* line 129, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--bag::before {
  content: '\e607';
}

/* line 133, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--close::before {
  content: '\e603';
}

/* line 137, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--confirmation::before,
.icon--success::before {
  content: '\e604';
}

/* line 142, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--error::before {
  content: '\e605';
}

/* line 146, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--tooltip-info::before, .icon--information::before {
  content: '\e606';
}

/* line 154, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--logo::before {
  content: '\e601';
}

/* line 162, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--location::before {
  content: '\e613';
}

/* line 166, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--menu::before {
  content: '\e611';
}

/* line 170, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--search::before {
  content: '\e612';
}

/* line 190, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--fave-plus::before {
  content: '\e623';
}

/* line 194, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sign-in::before {
  content: '\e624';
}

/* line 202, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--print::before {
  content: '\e632';
}

/* line 206, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks::before {
  content: '\e633';
}

/* line 210, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks-filled::before {
  content: '\e901';
}

/* line 214, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--circle-arrow::before {
  content: '\e902';
}

/* line 218, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--long-arrow::before {
  content: '\e900';
}

/* line 222, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--gear::before {
  content: '\e903';
}

/* line 226, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--gear-filled::before {
  content: '\e904';
}

/* line 230, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--lock::before {
  content: '\e905';
}

/* line 234, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--delivery-ed::before {
  content: '\e634';
}

/* line 238, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--clock-o::before {
  content: '\f017';
}

/* line 242, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--map-marker::before {
  content: '\f041';
}

/* line 246, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks-logo::before {
  content: '\e906';
}

/* line 250, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks-events::before {
  content: '\e907';
}

/* line 254, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks-priority::before {
  content: '\e908';
}

/* line 258, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_extends_content.scss */
.icon--sparks-offers::before {
  content: '\e909';
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* --------
  Normalize
  -------- */
/* line 23, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
body {
  margin: 0;
}

/* line 40, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/* line 67, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 74, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 83, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
a {
  background: transparent;
}

/* line 88, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 97, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 102, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 108, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
dfn {
  font-style: italic;
}

/* line 116, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 122, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
small {
  font-size: 80%;
}

/* line 127, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 135, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sup {
  top: -.5em;
}

/* line 139, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 147, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
img {
  border: 0;
}

/* line 152, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 160, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 165, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 172, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
pre {
  overflow: auto;
}

/* line 177, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 195, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 206, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button {
  overflow: visible;
}

/* line 214, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 224, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  border-radius: 0;
}

/* line 234, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 240, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 248, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input {
  line-height: normal;
}

/* line 257, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 266, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 274, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="search"] {
  -webkit-appearance: none;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/* line 284, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 290, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@media only screen and (max-width: 48em) {
  /* line 299, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    font-size: 1.6rem;
  }
}

/* line 309, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 317, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 323, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
textarea {
  overflow: auto;
}

/* line 329, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 337, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 342, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
td,
th {
  padding: 0;
}

/* --------
  Core
  -------- */
/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

/* line 15, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
body {
  font-size: 1.5rem;
  color: #333333;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
  min-height: 100%;
  position: relative;
}

@media only screen and (min-width: 48.0625em) {
  /* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
  body {
    font-size: 1.5rem;
  }
}

/* line 34, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
.body-debug * {
  outline: 1px dashed #EA122A;
}

/* line 38, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
}

/* -------- Links -------- */
/* line 44, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
a {
  color: inherit;
}

/* line 48, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
a:hover,
a:focus {
  text-decoration: none;
}

/* -------- Angular -------- */
/* line 55, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
  Fonts
  -------- */
/* -------- Icons -------- */
@font-face {
  font-family: "mns-icons";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/mns-icons.eot?#iefix") format("embedded-opentype"), url("../../../lib/assets/fonts/mns-icons.woff") format("woff"), url("../../../lib/assets/fonts/mns-icons.ttf") format("truetype"), url("../../../lib/assets/fonts/mns-icons.svg#mns-icons") format("svg");
}

/* -------- Typographic -------- */
@font-face {
  font-family: "didot-roman";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/didot-roman.eot?#iefix") format("embedded-opentype"), url("../../../lib/assets/fonts/didot-roman.woff") format("woff"), url("../../../lib/assets/fonts/didot-roman.ttf") format("truetype"), url("../../../lib/assets/fonts/didot-roman.svg#didot-roman") format("svg");
}

@font-face {
  font-family: "didot-italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/didot-italic.eot?#iefix") format("embedded-opentype"), url("../../../lib/assets/fonts/didot-italic.woff") format("woff"), url("../../../lib/assets/fonts/didot-italic.ttf") format("truetype"), url("../../../lib/assets/fonts/didot-italic.svg#didot-italic") format("svg");
}

@font-face {
  font-family: "didot-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/didot-bold.eot?#iefix") format("embedded-opentype"), url("../../../lib/assets/fonts/didot-bold.woff") format("woff"), url("../../../lib/assets/fonts/didot-bold.ttf") format("truetype"), url("../../../lib/assets/fonts/didot-bold.svg#didot-bold") format("svg");
}

@font-face {
  font-family: "didot-bold-italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/didot-bold-italic.eot?#iefix") format("embedded-opentype"), url("../../../lib/assets/fonts/didot-bold-italic.woff") format("woff"), url("../../../lib/assets/fonts/didot-bold-italic.ttf") format("truetype"), url("../../../lib/assets/fonts/didot-bold-italic.svg#didot-bold-italic") format("svg");
}

@font-face {
  font-family: "mns-london";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Semibold.woff2") format("woff2"), url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Semibold.woff") format("woff");
}

@font-face {
  font-family: "mns-london-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Demibold.woff2") format("woff2"), url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Demibold.woff") format("woff");
}

@font-face {
  font-family: "mns-london-light";
  font-style: normal;
  font-weight: normal;
  src: url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Regular.woff2") format("woff2"), url("../../../lib/assets/fonts/mns-london-text/MSLondoneText-Regular.woff") format("woff");
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
p {
  margin: 0 0 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
  p {
    margin: 0 0 1.5rem;
  }
}

/* line 9, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
i {
  font-style: normal;
}

/* line 23, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
h3,
.gamma-text {
  font-family: "mns-london-bold", Helvetica, Arial, sans-serif;
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
.base-text {
  font-size: 1.5rem;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 48.0625em) {
  /* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
  .base-text {
    font-size: 1.5rem;
  }
}

/* line 54, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
h1,
.alpha-text,
h2,
.beta-text {
  font-family: "mns-london", Helvetica, Arial, sans-serif;
}

/* line 61, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
.small-text {
  font-size: 1.3rem;
  line-height: 1.4rem;
}

/* line 2, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote {
  quotes: '\201c' '\201d';
}

/* line 6, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote::before {
  content: open-quote;
}

/* line 10, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote::after {
  content: close-quote;
}

/* line 14, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo--break::after,
.pseudo--break::before {
  content: '\A';
  white-space: pre;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
  M&S font icons
  -------- */
/* -------- Icons -------- */
/* M&S font icon instructions
--------------------------------------------------
To add icons to the mns-icons font, follow the steps below:
   - inside the FEAR project, go to the /app/assets/fonts/
   - unzip the file mns-icons.zip
   - go to https://icomoon.io/app/
   - click on the hamburger menu
   - click on New Project
   - click Import Icons
   - from the unzipped folder, select file 'selection.json'
   - click Import Icons
   - select your new SVG files to add to the font file
   - make sure all icons are selected
   - click on Generate Font
   - rename new icons if necessary
   - click Download and save .zip file
   - unzip the newly created file
   - copy all font files from /mns-icons/fonts/ (eot, svg, ttf, woff) to FEAR folder /app/assets/fonts/
   - copy-paste the '.icon-.....' css rules from style.css into FEAR folder /sass/components/_icons.scss
*/
/* -------- Icon elements -------- */
/* line 156, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon__label {
  font-style: normal;
}

/* -------- Icon modifiers -------- */
/* line 163, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--button {
  background: transparent;
  border: none;
}

/* line 169, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--link {
  text-decoration: none;
}

/* line 172, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--link span {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal, .m-modal__overlay, .m-modal__popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 9, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal {
  display: none;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal:target {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* line 19, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal:target .m-modal__popup {
  opacity: 1;
  animation: modal-show .2s ease-in;
}

/* line 26, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal__overlay {
  z-index: 9000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
  opacity: .3;
}

/* line 36, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.m-modal__popup {
  z-index: 9010;
  margin-top: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

@media only screen and (min-width: 48.0625em) {
  /* line 36, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
  .m-modal__popup {
    position: relative;
    margin-top: 30px;
    max-width: 90rem;
    max-height: 61.5rem;
  }
}

/* line 52, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.popup__title {
  margin: 0.6rem 0 3rem;
  font-size: 2.4rem;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
  line-height: 100%;
}

/* line 59, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.popup__content {
  padding: 2rem 3rem 3rem 3rem;
}

/* line 63, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9020;
  margin: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 2rem;
  line-height: 0;
  cursor: pointer;
}

/* line 77, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/modal-progressive/_module_modal.scss */
.popup__close:hover {
  opacity: .6;
}

@keyframes modal-show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
