/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#m-nav-trigger:checked + .m-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #m-nav-trigger:checked + .m-nav::before {
  display: table;
}

/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #m-nav-trigger:checked + .m-nav > *:not([hidden]) {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #m-nav-trigger:checked + .m-nav > *:not([hidden])::before {
  display: table-cell;
}

/* line 10, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#m-nav-trigger + .m-nav {
  display: none;
}

/* line 18, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav-hamburger {
  display: inline-block;
  padding: 10px;
}

/* line 24, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav__menu--trigger ~ .m-nav__content {
  display: none;
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav__menu--trigger:checked ~ .m-nav__content {
  display: block;
}

/* line 35, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* line 52, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav > li > label {
  display: block;
}

/* line 58, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.m-nav, .m-nav__content {
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 80vw;
  height: -webkit-calc(100vh - 3rem);
  height: calc(100vh - 3rem);
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-nav/nav__mobile.scss */
.nav-wrapper {
  position: relative;
}

/*# sourceMappingURL=nav__mobile.css.map */
