/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* line 7, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile-level1--show:checked ~ .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile-level1--show:checked ~ .nav::before {
  display: table;
}

/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile-level1--show:checked ~ .nav > *:not([hidden]) {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile-level1--show:checked ~ .nav > *:not([hidden])::before {
  display: table-cell;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile-level1--show ~ .nav {
  display: none;
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide:checked ~ nav .menu__button--hide-menu {
  display: none;
}

/* line 24, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide:checked ~ nav .menu__button--show-level1 {
  display: inline-block;
}

/* line 34, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide:not(:checked) ~ .nav-wrapper #menu__mobile-level1--show:not(:checked) ~ .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile--hide:not(:checked) ~ .nav-wrapper #menu__mobile-level1--show:not(:checked) ~ .nav::before {
  display: table;
}

/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile--hide:not(:checked) ~ .nav-wrapper #menu__mobile-level1--show:not(:checked) ~ .nav > *:not([hidden]) {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 #menu__mobile--hide:not(:checked) ~ .nav-wrapper #menu__mobile-level1--show:not(:checked) ~ .nav > *:not([hidden])::before {
  display: table-cell;
}

/* line 44, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide ~ nav .menu__button--hide-menu {
  display: inline-block;
}

/* line 48, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide ~ nav .menu__button--show-level1 {
  display: none;
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__hamburger {
  display: inline-block;
  padding: 10px;
}

/* line 63, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__mobile-level2--show ~ .nav__content {
  display: none;
}

/* line 68, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__mobile-level2--show:checked ~ .nav__content {
  display: block;
}

/* line 74, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* line 84, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav > li > label {
  display: block;
}

/* line 90, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav, .nav__content {
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 80vw;
  height: -webkit-calc(100vh - 3rem);
  height: calc(100vh - 3rem);
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-nav/nav__mobile.scss */
.nav-wrapper {
  position: relative;
}

/*# sourceMappingURL=nav__mobile.css.map */
