<ul class="menu__mobile__account">
  <li class="account__logged-in--show">
    <a href="/webapp/wcs/stores/servlet/MSMyAccountView?catalogId=10051&amp;myAcctMain=1&amp;langId=-24&amp;storeId=10151"><i class="menu__mobile__icon icon--my-account"></i>My account
    </a>
  </li>
  <li>
    <a ng-href="/loyalty/signup" href="/loyalty/signup"><i class="menu__mobile__icon icon--sparks"></i>Sparks
    </a>
  </li>
  <li class="account__logged-in--show">
    <a href="/webapp/wcs/stores/servlet/Logoff?catalogId=10051&amp;rememberMe=false&amp;myAcctMain=1&amp;langId=-24&amp;storeId=10151&amp;URL=/webapp/wcs/stores/servlet/TopCategoriesDisplayView?catalogId=10051&amp;langId=-24&amp;storeId=10151"><i class="menu__mobile__icon icon--sign-in"></i>Sign out
    </a>
  </li>
  <li class="account__logged-in--hide">
    <a href="/webapp/wcs/stores/servlet/MSCheckoutRegistrationForm?catalogId=10051&amp;langId=-24&amp;storeId=10151"><i class="menu__mobile__icon icon--sign-in"></i>Sign in /
      Register
    </a>
  </li>
</ul>