<!--When this radio is checked then the menu is hidden -->
<input type="radio" id="menu__mobile--hide" name="menu" aria-hidden="true" hidden checked/>
<header class="menu__mobile--hide__sibling-for-hamburger">
  <ul class="example-header">
    <li class="menu__hamburger" hidden>
      <label for="menu__mobile--hide" class="icon--menu menu__button--hide-menu" role="button">
        <i class="acc__text">menu</i>
      </label>
      <label for="menu__mobile-level1--show" class="icon--menu menu__button--show-level1" role="button">
        <i class="acc__text">menu</i>
      </label>
    </li>
  </ul>
</header>
<label for="menu__mobile--hide" class="menu__mobile-level1__overlay"></label>
<div class="menu__mobile--hide__sibling-for-menu-items nav__wrapper">
  <nav role="navigation">
    <!-- When this radio checked then the level 1 menu is shown -->
    <input type="radio" id="menu__mobile-level1--show" name="menu" aria-hidden="true" hidden/>
    <div class="nav">
      {{> ./aem/aem.html}}
      {{> ./mobileMenuAccount.html }}
    </div>
  </nav>
</div>
