.l-header {
  display: flex;
  margin: 0 0 $spacing-default-med 0;
  padding-bottom: $spacing-default;
  border-bottom: 1px solid $color__brand--dark-grey;
  align-content: center;
}

.l-header__logo {
  ~ h1 {
    margin: 0 $spacing-default;
  }
}
