.l-main__layout {
  @include display(flex);
  @include align-items(stretch);

  > nav {
    margin-right: $spacing-default-med;
    min-width: 240px;
    border-right: 1px solid $color__brand--dark-grey;
  }

  > section {
    @include display(flex);
    @include flex-grow(1);
    @include justify-content(center);
    overflow-y: auto;
  }
}

.l-main__nav {
  margin: 0 $spacing-default-med 0 0;
  padding: 0;

  > li {
    list-style: none;
    line-height: 3rem;
  }
}

.l-main__content {
  height: calc(100vh - 211px);
}
