/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
  M&S font icons
  -------- */
/* -------- Icons -------- */
/* M&S font icon instructions
--------------------------------------------------
To add icons to the mns-icons font, follow the steps below:
   - inside the FEAR project, go to the /app/assets/fonts/
   - unzip the file mns-icons.zip
   - go to https://icomoon.io/app/
   - click on the hamburger menu
   - click on New Project
   - click Import Icons
   - from the unzipped folder, select file 'selection.json'
   - click Import Icons
   - select your new SVG files to add to the font file
   - make sure all icons are selected
   - click on Generate Font
   - rename new icons if necessary
   - click Download and save .zip file
   - unzip the newly created file
   - copy all font files from /mns-icons/fonts/ (eot, svg, ttf, woff) to FEAR folder /app/assets/fonts/
   - copy-paste the '.icon-.....' css rules from style.css into FEAR folder /sass/components/_icons.scss
*/
/* -------- Icon elements -------- */
/* line 156, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon__label {
  font-style: normal;
}

/* -------- Icon modifiers -------- */
/* line 163, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--button {
  background: transparent;
  border: none;
}

/* line 169, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--link {
  text-decoration: none;
}

/* line 172, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/icons/_module_icons.scss */
.icon--link span {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* --------
  Buttons
  -------- */
/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn {
  line-height: 2.3rem;
  max-width: 44rem;
  padding: 0.9rem 2rem;
  margin: 0 0 0.1rem 0;
  border: 0;
  color: #333333;
  font-family: "mns-london-bold", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 30em) {
  /* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn {
    max-width: none;
    width: auto;
  }
}

@media only screen and (min-width: 30em) {
  /* line 26, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn ~ .btn {
    margin-left: 2rem;
  }
}

/* -------- Button variations -------- */
/* line 35, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--primary {
  color: #333333;
  height: 4rem;
  font-size: 1.5rem;
  background: #BDD755;
  border-color: #aac24d;
}

/* line 19, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.no-touch .btn--primary:hover, .btn--primary:focus {
  background: #b4cc51;
  border-color: #a1b748;
}

/* line 25, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--primary:active {
  background: #aac24d;
  border-color: #97ac44;
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--primary.is-disabled {
  color: #CCCCCC;
  background: #F8F8F8;
  border-color: #dfdfdf;
}

/* line 39, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--secondary {
  color: #333333;
  height: 4rem;
  font-size: 1.5rem;
  background: #E0E0E0;
  border-color: #cacaca;
}

/* line 19, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.no-touch .btn--secondary:hover, .btn--secondary:focus {
  background: #d5d5d5;
  border-color: #bebebe;
}

/* line 25, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--secondary:active {
  background: #cacaca;
  border-color: #b3b3b3;
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--secondary.is-disabled {
  color: #CCCCCC;
  background: #F8F8F8;
  border-color: #dfdfdf;
}

/* line 43, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--tertiary {
  color: #333333;
  height: 4rem;
  font-size: 1.5rem;
  background: #FFFFFF;
  border-color: #e6e6e6;
  border: 1px solid #333333;
}

/* line 19, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.no-touch .btn--tertiary:hover, .btn--tertiary:focus {
  background: #f2f2f2;
  border-color: #d9d9d9;
}

/* line 25, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--tertiary:active {
  background: #e6e6e6;
  border-color: #cccccc;
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--tertiary.is-disabled {
  color: #CCCCCC;
  background: #FFFFFF;
  border-color: #e6e6e6;
}

/* line 48, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--quart {
  color: #333333;
  height: 4rem;
  font-size: 1.5rem;
  background: #FFFFFF;
  border-color: #e6e6e6;
  border: 1px solid #CCCCCC;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
}

/* line 19, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.no-touch .btn--quart:hover, .btn--quart:focus {
  background: #f2f2f2;
  border-color: #d9d9d9;
}

/* line 25, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--quart:active {
  background: #e6e6e6;
  border-color: #cccccc;
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_mixins.scss */
.btn--quart.is-disabled {
  color: #F8F8F8;
  background: #FFFFFF;
  border-color: #e6e6e6;
}

/* sof 10 June 15 - new button for north */
/* line 56, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:focus,
.btn--disabled:active {
  height: 4rem;
  font-size: 1.5rem;
  background: #EEEEEE;
  color: #CCCCCC;
  cursor: not-allowed;
}

/* -------- Button modifiers -------- */
@media only screen and (max-width: 48em) {
  /* line 70, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn--xs-medium {
    max-width: 14rem;
    width: 100%;
  }
}

@media only screen and (max-width: 48em) {
  /* line 77, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn--lightbox--half {
    display: inline;
    margin: 0;
    width: 46.5%;
  }
  /* line 83, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn--lightbox--half:last-child {
    margin-left: 5.5%;
  }
}

/* line 90, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--half {
  float: left;
  width: 48%;
}

/* line 94, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--half:first-child {
  margin-right: 4%;
}

/* line 100, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--right {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 30em) {
  /* line 100, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
  .btn--right {
    display: inline-block;
    float: right !important;
  }
}

/* line 112, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--r-space {
  margin-right: 2rem;
}

/* line 116, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--xs {
  padding: 0.5rem 2rem;
  height: 3rem;
}

/* line 121, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--sm {
  padding: 0.6rem 1.8rem;
  height: 3.5rem;
}

/* line 126, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--no-border {
  background: none;
  border: 0;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
}

/* line 131, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--no-border span {
  text-decoration: underline;
}

/* line 135, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--no-border .btn--disabled:focus,
.btn--no-border .btn--disabled:active,
.no-touch .btn--no-border:hover {
  background: none;
}

/* line 140, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--no-border .btn--disabled:focus span,
.btn--no-border .btn--disabled:active span,
.no-touch .btn--no-border:hover span {
  text-decoration: none;
}

/* line 146, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_buttons.scss */
.btn--full-width {
  max-width: 100%;
}

/* --------
  Buttons with icons
  -------- */
/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon {
  position: relative;
}

/* line 10, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon.btn--xs::before {
  font-size: 1rem;
}

/* line 17, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--gift {
  padding-left: 4.6rem;
}

@media only screen and (min-width: 30em) {
  /* line 17, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
  .btn__icon--gift {
    padding-left: 4.8rem;
  }
}

/* line 24, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--gift::before {
  font-size: 1.8rem;
  margin-left: -2.8rem;
  top: 0.8rem;
  position: absolute;
}

/* line 33, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--edit {
  padding-left: 4.6rem;
  margin: 0 0 2rem 0;
}

@media only screen and (min-width: 30em) {
  /* line 33, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
  .btn__icon--edit {
    padding-left: 4.8rem;
  }
}

/* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--edit::before {
  font-size: 1.8rem;
  margin-left: -2.8rem;
  top: 0.9rem;
  position: absolute;
}

/* line 50, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--close {
  padding-left: 4rem;
}

@media only screen and (min-width: 30em) {
  /* line 50, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
  .btn__icon--close {
    padding-left: 4.5rem;
  }
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--close::before {
  font-size: 1.5rem;
  margin-left: -2.5rem;
  top: 1.2rem;
  position: absolute;
}

/* line 65, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--close.btn--no-border {
  padding-left: 2.3rem;
}

@media only screen and (min-width: 30em) {
  /* line 65, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
  .btn__icon--close.btn--no-border {
    padding-left: 2.5rem;
    margin-left: 1.5rem;
  }
}

/* line 76, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn--no-border::before {
  top: 1.4rem;
  font-size: 1.3rem;
}

/* line 82, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--info {
  padding-left: 4.5rem;
  position: relative;
}

/* line 86, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--info::before {
  font-size: 1.5rem;
  left: 1.5rem;
  top: 1.1rem;
  position: absolute;
}

/* line 95, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--cancel-order {
  padding-left: 4.5rem;
  position: relative;
}

/* line 99, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--cancel-order::before {
  font-size: 1.5rem;
  left: 1.5rem;
  top: 1.1rem;
  position: absolute;
}

/* line 108, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--search {
  padding-left: 2.6rem;
  position: relative;
}

/* line 112, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--search::before {
  font-size: 1.5rem;
  left: 1.5rem;
  top: 1.1rem;
  position: absolute;
}

/* line 121, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--calendar {
  padding-left: 4rem;
}

@media only screen and (min-width: 30em) {
  /* line 121, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
  .btn__icon--calendar {
    padding-left: 4.5rem;
  }
}

/* line 128, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--calendar::before {
  font-size: 1.6rem;
  margin-left: -2.5rem;
  top: 1.1rem;
  position: absolute;
}

/* line 138, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--lock::before {
  font-size: 2rem;
  left: -0.3rem;
  position: relative;
  top: 0;
}

/* line 147, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--arrow-left {
  padding-left: 3.3rem;
  position: relative;
}

/* line 151, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__icon--arrow-left::before {
  font-size: 1.5rem;
  margin-left: -2rem;
  top: 1.2rem;
  position: absolute;
}

/* line 160, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/components/buttons/_module_icons-buttons.scss */
.btn__text {
  position: relative;
  top: -3px;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 7, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
.example-wrapper {
  max-width: 850px;
  width: 100%;
}

/* line 11, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
.example-wrapper .m-toggle-pane__1,
.example-wrapper .m-toggle-pane__2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (min-width: 48.0625em) {
  /* line 11, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
  .example-wrapper .m-toggle-pane__1,
  .example-wrapper .m-toggle-pane__2 {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

/* line 22, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
.example-wrapper .m-toggle-pane__1 > div,
.example-wrapper .m-toggle-pane__2 > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
.example-wrapper .gift-price__icon--confirmation, .example-wrapper .gift-price__icon--gift {
  top: .4rem;
  margin-right: 20px;
  font-size: 3rem;
}

/* line 36, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-toggle-pane/_layout.scss */
.example-wrapper .gift-price__icon--confirmation {
  color: #BDD755;
}

/* line 3, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-toggle-pane/_mixins.scss */
#my-toggle-pane ~ .m-toggle-pane__1 {
  display: table-cell;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 9, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-toggle-pane/_mixins.scss */
#my-toggle-pane ~ .m-toggle-pane__1 ~ .m-toggle-pane__2 {
  display: none;
}

/* line 15, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-toggle-pane/_mixins.scss */
#my-toggle-pane:checked ~ .m-toggle-pane__1 {
  display: none;
}

/* line 18, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-toggle-pane/_mixins.scss */
#my-toggle-pane:checked ~ .m-toggle-pane__1 ~ .m-toggle-pane__2 {
  display: table-cell;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=toggle-pane.css.map */
