.l-main__layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  > nav {
    margin-right: $spacing-default-med;
    border-right: 1px solid $color__brand--dark-grey;
  }

  > section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

.l-main__nav {
  margin: 0 $spacing-default-med 0 0;
  padding: 0;

  > li {
    list-style: none;
    line-height: 3rem;
  }
}

.l-main__content {
  overflow-y: auto;
  height: calc(100vh - 211px);
}