@charset "UTF-8";
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h1,
.alpha-text, h2,
.beta-text, h3,
.gamma-text,
h4,
.delta-text,
h5,
.epsilon-text,
h6,
.zeta-text {
  color: #333333;
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h1,
.alpha-text {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h1,
  .alpha-text {
    font-size: 3.6rem;
    line-height: 4.3rem;
    margin-bottom: 1.5rem;
  }
}

/* line 32, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h3,
.gamma-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 32, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h3,
  .gamma-text {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

/* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
h2,
.beta-text {
  margin-top: -0.2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 41, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
  h2,
  .beta-text {
    margin-top: -0.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_extends.scss */
strong {
  font-family: "mns-london-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000000;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* --------
  Normalize
  -------- */
/* line 23, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 30, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
body {
  margin: 0;
}

/* line 40, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 57, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/* line 67, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 74, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 83, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
a {
  background: transparent;
}

/* line 88, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 97, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 102, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 108, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
dfn {
  font-style: italic;
}

/* line 116, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 122, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
small {
  font-size: 80%;
}

/* line 127, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 135, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sup {
  top: -.5em;
}

/* line 139, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 147, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
img {
  border: 0;
}

/* line 152, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 160, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 165, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 172, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
pre {
  overflow: auto;
}

/* line 177, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 195, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 206, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button {
  overflow: visible;
}

/* line 214, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 224, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 234, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 240, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 248, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input {
  line-height: normal;
}

/* line 257, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 266, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 274, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="search"] {
  -webkit-appearance: none;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/* line 284, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 290, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@media only screen and (max-width: 48em) {
  /* line 299, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    font-size: 1.6rem;
  }
}

/* line 309, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 317, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 323, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
textarea {
  overflow: auto;
}

/* line 329, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 337, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 342, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_normalize.scss */
td,
th {
  padding: 0;
}

/* --------
  Core
  -------- */
/* line 8, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

/* line 15, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
body {
  font-size: 1.5rem;
  color: #333333;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
  min-height: 100%;
  position: relative;
}

@media only screen and (min-width: 48.0625em) {
  /* line 21, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
  body {
    font-size: 1.5rem;
  }
}

/* line 34, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
.body-debug * {
  outline: 1px dashed #EA122A;
}

/* line 38, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
}

/* -------- Links -------- */
/* line 44, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
a {
  color: inherit;
}

/* line 48, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
a:hover,
a:focus {
  text-decoration: none;
}

/* -------- Angular -------- */
/* line 55, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/normalize/_module_mns-normalize.scss */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}

/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
  Fonts
  -------- */
/* -------- Icons -------- */
@font-face {
  font-family: "mns-icons";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/mns-icons.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/mns-icons.woff") format("woff"), url("/assets/fonts/mns-icons.ttf") format("truetype"), url("/assets/fonts/mns-icons.svg#mns-icons") format("svg");
}

/* -------- Typographic -------- */
@font-face {
  font-family: "didot-roman";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/didot-roman.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/didot-roman.woff") format("woff"), url("/assets/fonts/didot-roman.ttf") format("truetype"), url("/assets/fonts/didot-roman.svg#didot-roman") format("svg");
}

@font-face {
  font-family: "didot-italic";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/didot-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/didot-italic.woff") format("woff"), url("/assets/fonts/didot-italic.ttf") format("truetype"), url("/assets/fonts/didot-italic.svg#didot-italic") format("svg");
}

@font-face {
  font-family: "didot-bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/didot-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/didot-bold.woff") format("woff"), url("/assets/fonts/didot-bold.ttf") format("truetype"), url("/assets/fonts/didot-bold.svg#didot-bold") format("svg");
}

@font-face {
  font-family: "didot-bold-italic";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/didot-bold-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/didot-bold-italic.woff") format("woff"), url("/assets/fonts/didot-bold-italic.ttf") format("truetype"), url("/assets/fonts/didot-bold-italic.svg#didot-bold-italic") format("svg");
}

@font-face {
  font-family: "mns-london";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/mns-london-text/MSLondoneText-Semibold.woff2") format("woff2"), url("/assets/fonts/mns-london-text/MSLondoneText-Semibold.woff") format("woff");
}

@font-face {
  font-family: "mns-london-bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/mns-london-text/MSLondoneText-Demibold.woff2") format("woff2"), url("/assets/fonts/mns-london-text/MSLondoneText-Demibold.woff") format("woff");
}

@font-face {
  font-family: "mns-london-light";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/mns-london-text/MSLondoneText-Regular.woff2") format("woff2"), url("/assets/fonts/mns-london-text/MSLondoneText-Regular.woff") format("woff");
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
p {
  margin: 0 0 1rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
  p {
    margin: 0 0 1.5rem;
  }
}

/* line 9, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
i {
  font-style: normal;
}

/* line 23, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
h3,
.gamma-text {
  font-family: "mns-london-bold", Helvetica, Arial, sans-serif;
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
.base-text {
  font-size: 1.5rem;
  font-family: "mns-london", Helvetica, Arial, sans-serif;
  margin: 0;
}

@media only screen and (min-width: 48.0625em) {
  /* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
  .base-text {
    font-size: 1.5rem;
  }
}

/* line 54, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
h1,
.alpha-text,
h2,
.beta-text {
  font-family: "mns-london", Helvetica, Arial, sans-serif;
}

/* line 61, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_typography.scss */
.small-text {
  font-size: 1.3rem;
  line-height: 1.4rem;
}

/* line 2, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote {
  quotes: '\201c' '\201d';
}

/* line 6, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote::before {
  content: open-quote;
}

/* line 10, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo-quote::after {
  content: close-quote;
}

/* line 14, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/typography/_module_quote.scss */
.pseudo--break::after,
.pseudo--break::before {
  content: '\A';
  white-space: pre;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/_normalize.scss */
body {
  padding: 40px;
}

/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/_normalize.scss */
iframe {
  margin-bottom: 40px;
  width: 100%;
  border: 1px solid #CCCCCC;
}

@font-face {
  font-family: 'mns-digital-experimental';
  src: url("/assets/fonts/mns-digital-experimental/fonts/mns-digital-experimental.ttf?g30cer") format("truetype"), url("/assets/fonts/mns-digital-experimental/fonts/mns-digital-experimental.woff?g30cer") format("woff"), url("/assets/fonts/mns-digital-experimental/fonts/mns-digital-experimental.svg?g30cer#mns-digital-experimental") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/fonts/mns-digital-experimental/_style.scss */
[class^="mns-d-ex-icon-"], [class*=" mns-d-ex-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mns-digital-experimental' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/fonts/mns-digital-experimental/_style.scss */
.mns-d-ex-icon-desktop:before {
  content: "";
}

/* line 34, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/fonts/mns-digital-experimental/_style.scss */
.mns-d-ex-icon-phone:before {
  content: "";
}

/* line 39, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/fonts/mns-digital-experimental/_style.scss */
.mns-d-ex-icon-tablet:before {
  content: "";
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_header.scss */
.l-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* line 11, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_header.scss */
.l-header__logo ~ h1 {
  margin: 0 20px;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* line 6, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__layout > nav {
  margin-right: 40px;
  border-right: 1px solid #333333;
}

/* line 11, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__layout > section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 18, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__nav {
  margin: 0 40px 0 0;
  padding: 0;
}

/* line 22, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__nav > li {
  list-style: none;
  line-height: 3rem;
}

/* line 28, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/layout/_main.scss */
.l-main__content {
  overflow-y: auto;
  height: -webkit-calc(100vh - 211px);
  height: calc(100vh - 211px);
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_extends.scss */
.l-screen-size__icon--phone, .l-screen-size__icon--tablet, .l-screen-size__icon--desktop {
  padding: 10px;
  cursor: pointer;
}

/* line 6, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_extends.scss */
#screen-size-phone:checked ~ nav .l-screen-size__icon--phone, #screen-size-tablet:checked ~ nav .l-screen-size__icon--tablet, #screen-size-desktop:checked ~ nav .l-screen-size__icon--desktop {
  padding: 10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #BDD755;
}

/* line 1, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_module_screen-size.scss */
.l-screen-size__icon {
  margin: 0 40px 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  text-align: center;
  font-size: 3rem;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_mixins.scss */
#screen-size-phone:checked ~ section .l-screen-size__content {
  width: 320px;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_mixins.scss */
#screen-size-tablet:checked ~ section .l-screen-size__content {
  width: 768px;
}

/* line 13, /Users/Caylam/Development/MS/code/fear-core-ui/examples/assets/sass/screen-size/_mixins.scss */
#screen-size-desktop:checked ~ section .l-screen-size__content {
  width: 100%;
}

/*# sourceMappingURL=site.css.map */
