$icomoon-font-path: '/assets/fonts/mns-digital-experimental/fonts';
$spacing-default: 20px;
$spacing-default-med: $spacing-default * 2;

@import 'assets/sass/_base';
@import 'assets/sass/normalize';
@import 'assets/fonts/mns-digital-experimental/style';
@import 'assets/sass/layout/header';
@import 'assets/sass/layout/main';
@import 'assets/sass/screen-size';

@include screen-size(phone, 320px);
@include screen-size(tablet, 768px);
@include screen-size(desktop, 100%);