/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/* line 3, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile-level1--show:checked ~ .nav, #menu__mobile--hide:not(:checked) ~ .nav__wrapper #menu__mobile-level1--show:not(:checked) ~ .nav, .menu__mobile-level2--show:checked ~ .nav__content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 7, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile-level1--show ~ .nav, .menu__mobile-level2--show ~ .nav__content {
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 29, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide:checked ~ header .menu__button--hide-menu {
  display: none;
}

/* line 33, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide:checked ~ header .menu__button--show-level1 {
  display: inline-block;
}

/* line 52, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide ~ header .menu__button--hide-menu {
  display: inline-block;
}

/* line 56, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
#menu__mobile--hide ~ header .menu__button--show-level1 {
  display: none;
}

/* line 65, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__hamburger {
  display: inline-block;
  padding: 10px;
}

/* line 71, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__mobile-level2--show ~ .nav__content {
  -webkit-transition: .5s;
  transition: .5s;
}

/* line 83, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.menu__mobile-level2--back {
  display: block;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 89, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

/* line 101, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav > li > label {
  display: block;
  width: 100%;
  line-height: 3.2rem;
}

/* line 109, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav, .nav__content {
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 80vw;
  height: -webkit-calc(100vh - 3rem);
  height: calc(100vh - 3rem);
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

/* line 122, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/modules/progressive-nav/_module_nav__horizontal--mobile.scss */
.nav__content > li {
  padding-left: 20px;
  border-bottom: 1px solid #CCCCCC;
  line-height: 4.5rem;
}

/* line 5, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/progressive-nav/styles/nav__mobile.scss */
.nav__wrapper {
  position: relative;
}

/*# sourceMappingURL=nav__mobile.css.map */
