@import 'app-core/base';
@import 'app-core/once';
@import 'fear-core-ui/components/icons';
@import 'mns-core-ui/templates/navigation/sass/variables';
@import 'mns-core-ui/templates/navigation/sass/device';

.example-header {
  border-bottom: 1px solid $color__brand--light-grey;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: $mobile-header-height;

  > li {
    flex-basis: 50px;
  }
}

/*****************************
  DESKTOP
*****************************/
@include desktop {

  .nav__wrapper {
    border-bottom: 5px solid $color__brand--black;

    > nav {
      @include wrapper($screen-lg);
    }
  }

}

/*****************************
  TABLET
*****************************/
@include tablet {

  .nav__wrapper {
    border-bottom: 5px solid $color__brand--black;

    > nav {
      @include wrapper($screen-lg);
    }
  }

}
