/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* --------
Functions
-------- */
/** * @group Font size */
/**
* Body font size for large devices (desktop)
* @group Font size
*/
/**
* Body font size for tsop devices (desktop)
* @group Font size
*/
/**
* Body font size for small devices (desktop)
* @group Font size
 */
/**
* Body font size for small devices (mobile/tablet)
* @group Font families
*/
/* line 3, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_extends.scss */
.ie9 .flx__column--reverse, .ie9 .flx__column--reverse > *:not([hidden]) {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* line 7, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
body {
  padding: 20px;
}

/* line 11, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
pre {
  font: 100% courier, monospace;
  border: 1px solid #CCCCCC;
  overflow-x: scroll;
  width: 90%;
  padding: 2rem 0 1rem 0;
  margin: 1rem auto 2rem auto;
  background: #fff7f0;
  color: #000000;
}

/* line 22, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
hr {
  margin: 40px 0;
  border: 1px solid #CCCCCC;
}

/* line 27, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
h3 {
  display: block;
}

/* line 31, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example__position {
  display: inline-block;
  vertical-align: top;
}

/* line 37, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example-wrapper {
  height: 200px;
  width: 200px;
  background-color: #F8F8F8;
  margin: 20px;
}

/* line 46, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example-wrapper > div {
  width: 50px;
  height: 50px;
}

/* line 50, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example-wrapper > div:first-child {
  background-color: #333333;
}

/* line 54, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example-wrapper > div:nth-child(2) {
  background-color: #BDD755;
}

/* line 58, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.example-wrapper > div:last-child {
  background-color: #4C96CB;
}

/* line 66, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.flx__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 12, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__row:before {
  display: table;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__row > *:not([hidden]) {
  display: table-cell;
}

/* line 70, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.flx__row--reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 12, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__row--reverse:before {
  display: table;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__row--reverse > *:not([hidden]) {
  display: table-cell;
}

/* line 17, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/_ie-only.scss */
.ie9 .flx__row--reverse {
  direction: rtl;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__row--reverse > *:not([hidden]) {
  direction: ltr;
}

/* line 75, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.flx__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 12, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column:before {
  display: table;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column > *:not([hidden]) {
  display: table-cell;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column > *:not([hidden]) {
  display: block;
}

/* line 80, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.flx__column--reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 12, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column--reverse:before {
  display: table;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column--reverse > *:not([hidden]) {
  display: table-cell;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__column--reverse > *:not([hidden]) {
  display: block;
}

/* line 85, /Users/Caylam/Development/MS/code/fear-core-ui/examples/modules/sass__flexbox/styles/flexbox.scss */
.flx__justify-content--center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 12, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__justify-content--center:before {
  display: table;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__justify-content--center > *:not([hidden]) {
  display: table-cell;
}

/* line 17, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/_ie-only.scss */
.ie9 .flx__justify-content--center {
  text-align: center;
  vertical-align: top;
}

/* line 4, /Users/Caylam/Development/MS/code/fear-core-ui/lib/sass/fear-core-ui/utilities/flexbox/_mixin_flexbox-fallback.scss */
.ie9 .flx__justify-content--center > *:not([hidden]) {
  display: inline-block;
  vertical-align: top;
}

/*# sourceMappingURL=flexbox.css.map */
