$channel: channel-default;

$fear-core-ui-font-dir:         '/common/assets/fonts';
$fear-core-ui-images-dir: '/common/assets/images/sprites';

/* Base */
@import 'fear-core-ui/base';
@import 'fear-core-ui/extends';
@import 'fear-core-ui/typography';
@import 'fear-core-ui/sprites'; //dup

/* Components */
@import 'fear-core-ui/components/icons';

@import 'fear-core-ui/components/buttons';
@import 'fear-core-ui/components/borders';
@import 'fear-core-ui/components/list';

@import '../../modules/help-menu';
@import '../../modules/checkbox-accordion';
@import '../../modules/footer';

.margin-top {
  @include rem(margin-top, 15px);
}
